body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4169E1;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-picture-container {
    text-align: center;
}

.profile-picture {
    object-fit: cover;
}

.reference-text {
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

div a {
    color: #008000;
}

div a:visited {
    color: #008000;
}

div a:hover {
    color: #008000;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: lightblue;
}

main {
    text-align: justify;
    padding: 20px;
    flex: 1;
    margin: 0 auto;
    max-width: 800px;
}

.hero-section {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

#game-container div {
    display: flex;
    justify-content: center;
}

#feedback {
    margin-top: 20px;
    font-weight: bold;
    color: #008000;
}

.game-button {
    padding: 15px 30px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 0 10px;
    transition: background-color 0.3s ease-in-out; 
}

.game-button:hover {
    background-color: lightblue;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.hero-text {
    text-align: justify;
}

.hero-text h1 {
    font-size: 2em;
    color: #4169E1;
    text-align: center;
}

.hero-text h2 {
    color: #008000;
    text-align: center;
}

.hero-text h3 {
    font-size: 1.5em;
    color: #4169E1;
    text-align: center;
}

.hero-text p {
    font-size: 1.2em;
    color: #555;
    text-align: justify;
}

.hero-section img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.interesting-facts img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.interesting-facts {
    margin-top: 50px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

.interesting-facts h1 {
    font-size: 2em;
    color: #008000;
    text-align: center;
}

.interesting-facts h2 {
    color: #008000;
    text-align: center;
}

.interesting-facts ul {
    list-style: none;
    padding: 0;
}

.interesting-facts li {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #555;
    text-align: justify;
}

.interesting-facts p {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #555;
    text-align: justify;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4169E1;
    color: white;
    transition: background-color 0.3s ease-in-out;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}